body
{
	font-family: 'Open Sans';
}
code
{
	padding: 0 !important;
}
label
{
	color:#0E539B;
	text-align: left !important;
}
.nav > li > a {
    padding: 10px 7px;
    position: relative;
}
@media (max-width: 800px){
	.collapse.navbar-collapse
	{
		float:none !important;
	}
}
.navbar-inverse {
    background-color: #0E539B;
    border-color: #080808;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    margin-top:5px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
    outline: none;
}
.navbar-brand
{
	color:#fff !important;
}
.form_center 
{
    display: inline-block;
    text-align: center;
 }
.alert
{
	text-align: center;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.pointer
{
	cursor: pointer;
}
.hero-spacer
{
	padding: 10px;
	background: #fff;
	border:1px solid #ccc;
	margin:0 auto;

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.custom-container
{
	padding:40px 65px 20px 65px;
}
.title-container
{
	padding:0px 25px 0px 25px;
}
.title-container h3
{
	margin:10px 0;
}
input[type="text"],input[type="email"],input[type="date"],input[type="password"],select
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height:35px;
	max-width: 800px;
} 
.logo
{
	max-width:170px !important;
	margin: 0 auto; 
	margin-top: 15px;
	margin-bottom: 10px;
}
.btn
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.change_password,.change_password tr,.change_password td,.change_password th
{
	border:0px solid #ccc !important;
}
.change_password tr td:nth-child(1)
{
	color:#0E539B;
	font-weight: bold;
}
.border_gray
{	
	border:1px solid #ccc;
}
.border_blue
{	
	border:1px solid #003366;
}
.gray
{
	background:#D2D6DE;
}
.blue
{
	/*background: #0E539B;*/
	background: #868def;
	background: -moz-linear-gradient(top,  #868def 0%, #97b9f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#868def), color-stop(100%,#97b9f4));
	background: -webkit-linear-gradient(top,  #868def 0%,#97b9f4 100%);
	background: -o-linear-gradient(top,  #868def 0%,#97b9f4 100%);
	background: -ms-linear-gradient(top,  #868def 0%,#97b9f4 100%);
	background: linear-gradient(to bottom,  #868def 0%,#97b9f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868def', endColorstr='#97b9f4',GradientType=0 );
}
.white
{
	background: white;
}
.color_white
{
	color: white;
}

.color_blue
{
	color: #0E539B;
}
/*added by mostofa*/
.content_holder{
	margin: 10px auto;
}
.right_part{
	padding-left: 25px;
	padding-right: 0px;
	border-left: 1px solid orange;
}
.b_radius{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.right_border_radius{
	border-radius: 0 5px 5px 0 !important;
	-webkit-border-radius: 0 5px 5px 0 !important;
}
.group_bg{
	color: #0E539B;
}
.margin_top{
	margin-top: 15%;
}
.row-centered 
{
    text-align:center;
}
.col-centered 
{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.container_header_radius{
	border-radius: 8px 8px 0 0 !important;
	-moz-border-radius: 8px 8px 0 0 !important;
	-webkit-border-radius: 8px 8px 0 0 !important;
}
.container_body_radius{
	border-radius: 0 0 8px 8px !important;
	-moz-border-radius: 0 0 8px 8px !important;
	-webkit-border-radius: 0 0 8px 8px !important;
}